sudo: required
dist: trusty
language: ruby

before_install:
before_install:
- gem install asciidoctor -v 1.5.2
- gem install tilt
- sudo pip install git+https://github.com/gitenberg-dev/gitberg
- sudo pip install pillow
- sudo pip install cssutils
- sudo pip install docutils
- sudo pip install roman
- sudo pip install git+https://github.com/gitenberg-dev/pg-epubmaker
script:
- VERSION=`ruby -e "require 'yaml'; meta = YAML.load_file('metadata.yaml'); puts meta['_version'];"`
- git clone https://github.com/gitenberg-dev/asciidoctor-htmlbook.git
- sudo pip install -r asciidoctor-htmlbook/gitberg-machine/requirements.txt

- /usr/bin/python -c "from gitenberg import travis; travis.build_epub()"
- ebook-convert book.epub book.mobi
- xvfb-run ebook-convert book.epub book.pdf
branches:
  only:
  - master
notifications:
  webhooks:
    urls:
      - https://unglue.it/api/travisci/webhook
    on_success: always
    on_failure: never
    on_start: never
deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: nQEn3w4CadizeJ+1sfxC/x84O+D04JVJ2w6mzJCZGDI6kI5yFpRqh1a1jEos78N/p/s61mRlet0NoNL1Hggx9DRUb8sL9BpXVcMqaAkEr0sMHd3k2ChbbESsm9hfhA2EhfFkcvrv2evRnMBzl35VUoth8R4A1d0ab0f31VQwGqsjaeSP7PbH1wDneTGpsmH44DvuuG4zCASu7pLfJmIB3h+6D+bquHolCngYJu8Pb//cEFqkaFHnF3FU/ZJcOIASX1GFVVX5CuQhTet3B88ztOzQ3VEzgW76weX4gkIbMffFV3UvHQy18m4YAIzYmoFJmEUrHUTbOTyP+s9M0X7atTlWloZB8+kmOGeC7bzLEkuHADPdj5mCmT+9MxrmWyjdw9CXUjhIr+1exlSuqbDeDHYueMrmXntO+b/DzWVYvIQ0vHhe07YdEcvZsjjM//HRI3u+w/EFVaYO6mGYrzY46BOSe7vrxtAoXLHj2v17slLOBbVJKJQ2sZCgY+XVUwk002pw43TcoILbGzjlvD3uIv1XBs7J/cuQWs0uEGgzofBy1aup48SznoH7xhvQbamLz6nJLIEMd4xqlV9UuOFYgbW4ImMwSdYGnEhkOfG1Cg+LHuLD9iofW2nym4b6yqTic0R6mOY9TKDNbUhzsD7Lu6u5ynTHdvyD5oBldMPfhnM=
  file:
    - book.epub
    - book.mobi
    - book.pdf
  "on":
    repo: GITenberg/Uncle-Josh-s-Punkin-Centre-Stories_970
addons:
  apt:
    packages:
    - xsltproc
    - xvfb
    - calibre
    - python-pip
    - git
    - python-dev
    - libjpeg-dev
    - libpng-dev
    - libfreetype6
    - libfreetype6-dev
    - zlib1g-dev
    - python-lxml
    - libxml2-dev
    - libxslt1-dev
    - tidy